<div data-controller="components--ui--spinner">
  <div id="overlay" data-components--ui--spinner-target="overlay"></div>
  <div id="waitSpinner" data-components--ui--spinner-target="spinner"></div>
</div>